/*variabelen*/

$fontsize: 1.3em;
$font: 'Ubuntu',
sans-serif;

header {
    background-image: url(../afbeeldingen/antarctica.png);
    height: 200px;
    background-size: cover;
    margin-top: -45px;
    font-family: $font;
    font-size: 0.55*$fontsize;
    font-weight: 400;
    color: white;
    text-align: right;
    strong {
        font-weight: bolder;
    }
    #intro {
        margin-left: 50%;
        margin-right: 10px;
        padding-top: 45px;
        margin-top: 45px;
        p {
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 30px black;
            padding: 10px;
        }
    }

}

nav {
    width: 120%;
    left: 0;
    font-weight: 600;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 1;
    font-size: 0.6*$fontsize;
    img {
        right: 0;
        float: right;
        margin-right: 19%;
        margin-top: 5px;
    }
    li {
        border-bottom: 1px solid #eee;
        margin-right: 90px;
        margin-bottom: 5px;
        padding-top: 15px;
        padding-bottom: 5px;

    }
    li:first-child {
        padding-top: 15px;
    }
    li:last-child {
        border-bottom: 0;
    }
    a:hover {
        color: lightblue;
    }
    ul {
        background-color: rgb(255, 90, 90);
        display: none;
        margin-right: 50px;
        width: 100%;

    }
    &:hover ul {
        display: block;
        text-align: right;
    }
    li a {
        display: block;
        text-decoration: none;
        margin-right: 20px;
        color: white;
    }
    a {

        &:hover {
            -moz-transition: opacity .8s ease-in;
            -webkit-transition: opacity .8s ease-in;
            transition: opacity .8s ease-in;
        }
    }
}

#about_me {
    margin-top: 10px;
}

#omschrijving,
#ssdOmschrijving {
    font-size: 0.6*$fontsize
}

#landschap,
#logo,
#stad,
#poster {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
}

#ssd {
    max-width: 33.33333%
}

#compositie {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

#foto {
    position: relative;
    max-width: 20%;
    float: right;
    margin-bottom: -12%
}

html {
    background-color: black; //  background-color: white;
    max-width: 100%;
    font-family: $font;
    font-size: 0.6*$fontsize;
    .content {
        padding: 20px;
    }
    h2 {
        font-size: 0.9*$fontsize;
        text-decoration: underline;
        margin-bottom: 2px;
    }
    .over_mezelf {
        p:first-of-type {
            margin-bottom: 0px;
        }
        ul li:last-of-type {
            margin-bottom: 5px;
        }
    }
    p {
        margin-bottom: 10px
    }
}

.about_me ul {
    margin-bottom: 10px;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

footer {
    position: absolute;
    width: 100%;
    margin-left: -20%;
    padding-left: 10%;
    text-align: center;
    background-color: rgb(255, 90, 90);
    color: white;
    font-size: 0.6*$fontsize;
    padding-bottom: 5px;
    padding-top: 10px;
}


@media screen and (min-width:510px) {
    header {
        height: 400px;
        font-size: $fontsize;
        #intro {
            padding-right: 20px;
            padding-top: 20%;
        }
    }
    #ssdOmschrijving,
    #omschrijving {
        position: absolute;
        font-size: 0.55*$fontsize;
        margin-top: 10px;
        left: 55%;
        width: 38%; //  margin: -35% 0 0 -25%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 5px red; //  display: table-cell;
        //  height: 100%;
    }
    #landschap,
    #logo,
    #stad,
    #poster {
        float: left;
        max-width: 50%;
        margin-right: 5%;
        padding-bottom: 10px; //  display: table-cell;
    }
    #ssd {
        margin-top: 90px;
        margin-bottom: 90px;
        display: inline-block;
        max-width: 16.66666667%;
    }
    #ssdOmschrijving {
        font-size: 0.6*$fontsize;
        margin-top: -210px;
    }
    #poster {
        padding-bottom: 15px;
    }
    #compositie {
        max-width: 40%;
        margin-left: 5%;
        float: left;
    }
    #portfolio:before {
        content: "";
        display: block;
        height: 60px;
        margin: -60px 0 0;
    }
    #opdracht {
        position: relative;
        width: 100%; //  display: table;
        height: 100%;
        overflow: auto;
        border-bottom: 2px solid rgba(255, 90, 90, 1);
    }

    #foto {
        margin-right: 48%;
        max-width: 13%;
        padding-top: 20px;
    }
    #landschap,
    #poster {
        padding-top: 20px;
    }
    #landschap {
        margin-bottom: 10px;
    }
    #stad {
        padding-top: 10px
    }
    nav {
        position: fixed;
        top: 0px;
        img {
            display: none;
        }
        margin-top: 0px;
        font-size: $fontsize;
        ul li {
            padding-right: 20px
        }
        ul {
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
        }
        li {
            display: inline-block;
            &:last-child {
                border-bottom: 1px solid #eee;
            }
        }
        &:hover ul {
            display: block;
            text-align: left;
            color: black;
        }
    }
    html .content {
        margin-left: 30px;
        margin-right: 30px;
    }
    footer {
        font-size: 0.8*$fontsize
    }
}

@media screen and (min-width:800px) {
    header {
        height: 500px;
        #intro {
            // padding-left: 280px;
            padding-top: 90px;
            padding-right: 30px
        }
    }
    #omschrijving {
        font-size: 0.7*$fontsize;
        line-height: 1.5;
        margin-top: 40px;
    }
    #ssdOmschrijving {
        font-size: 0.7*$fontsize;
        line-height: 1.5;
        margin-top: -240px;
    }
    p,
    ul {
        font-size: 0.9*$fontsize
    }
    #introPort,
    .about_me,
    .future,
    #portfolio {
        max-width: 500px;
        padding-left: 10%;
    }
    ul li {
        margin-bottom: 5px
    }

}

@media screen and (min-width:900px) {
    header {
        height: 600px;
        #intro {
            padding-right: 40px;

            padding-top: 180px;
        }
    }
    #introPort,
    .about_me,
    .future {
        max-width: 700px;
    }
    #omschrijving {
        font-size: 0.9*$fontsize; // margin-top: 150px;
        margin-right: 50px;
        line-height: 1.4;
    }
    #ssdOmschrijving {
        font-size: 0.9*$fontsize;
        line-height: 1.4;
        margin-top: -290px;
    }
    #ssd {
        margin-top: 120px;
        margin-bottom: 120px
    }
    html .content {
        margin-left: 50px;
        margin-right: 50px;
    }


}

@media screen and (min-width:1000px) {
    header {
        height: 700px;
        font-size: 1.2$fontsize;
        padding-left: 225px;
        padding-right: 45px;
    }
    #omschrijving {
        line-height: 2
    }
    #ssdOmschrijving {
        line-height: 2;
        margin-top: -320px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #ssd {
        margin-top: 100px;
        margin-bottom: 100px;
        ;
    }

}
